.Login-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  text-transform: capitalize;

  .label-log-in {
    margin-bottom: 0.5rem;
  }

  input {
    width: 239px;
    height: 44, 71px;
    border: 3px solid #a0aec0;
  }

  button {
    width: 95px;
    height: 37px;
    padding: 8px 16px 8px 16px;
    background-color: #277a7f;
    margin-top: 1rem;
    text-transform: uppercase;
    color: white;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}
